
table.mcTable {
  border-collapse: collapse;
  /*border: 0.5px solid lightgray;*/
}

.mcTable td + td,
.mcTable th + th {
  border-left: 0.5px dotted darkgray;
}
.mcTable tr + tr {
  border-top: 0.5px dotted darkgray;
}

.mcTable td {
  padding-left: 0.5ch;
  padding-right: 0.5ch;
  max-width: 7ch;
  min-width: 7ch;
}

.mcCalendarDay {
  text-align: right;
  margin-bottom: 0.5em;
}

.mcEvent {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mcLocation {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}