
table.mcTable {
  border-collapse: collapse;
}

.mcTable td {
  border: 0.5px solid #666666;
}

.mcTable td,
.mcTable th {
  padding-left: 0.5ch;
  padding-right: 0.5ch;
  max-width: 8ch;
  min-width: 8ch;
}

.mcHeaderWeekday {
  text-align: right;
  margin-bottom: 1em;
  border-bottom: 1px solid #666;
}

.mcCalendarDay {
  margin-bottom: 0.5em;
  margin-right: 0.25em;
  text-align: right;
}

.mcToday {
  background-color: #888888;
  border-radius: 1em;
  color: #ffffff;
  line-height: 1.1em;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.mcEvent {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mcLocation {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}