
table.mcTable {
  border-collapse: collapse;
  /*border: 0.5px solid #666;*/
}

.mcTable td {
  border: 0.5px solid #666;
}

.mcTable td,
.mcTable th {
  padding-left: 0.5ch;
  padding-right: 0.5ch;
  max-width: 7ch;
  min-width: 7ch;
}

.mcHeaderWeekday {
  text-align: right;
  margin-bottom: 1em;
  border-bottom: 1px solid #666;
}

.mcCalendarDay {
  text-align: right;
  margin-bottom: 0.5em;
}

.mcEvent {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mcLocation {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}